<%=render 'navbar/navbar'%>
<div class="container overflow-auto mt-5" style="border-style: dashed; ">
   <h1>Friends</h1>
   <%= render  "friends/form" %>
 
  <div class="container overflow-auto" style="overflow-y: scroll; border-style: dashed;height:400px; width: 60%;margin-top:20px;margin-bottom:20px;justify-content: center;">
    <div class="row ">
    <% @users.each do |user| %>
        <div class="col-md-6" style="margin-top:20px;">
          <div class="media">
              <div class="media-left"  >
                <a href="#">
                <img class="media-object"  src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Crystal_Clear_kdm_user_female.svg" alt="Smiley face" height="62" width="62" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= user.name %></h4>
                <%= link_to 'Destroy', friend_path(user),
                    method: :delete,
                data: { confirm: 'Are you sure?' } %>        
                   
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>