<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
    <div class="input-group">
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Friend Email">
      <div class="input-group-append">
        <button class="btn btn-success btn-outline-secondary" type="button">Add</button>
      </div>
    </div>
  </form>