

<div class="container overflow-auto" style="border-style: dashed; ">
  <%if @group%>
  <h1><%=@group.name%></h1>
  <%end%>
  <%= render  "groups/form" %>
  <div class="col-auto my-2">
  <div class="container overflow-auto mx-auto" style="overflow-y: scroll; border-style: dashed;height:400px; width: 60%;margin-top:20px;margin-bottom:20px;justify-content: center;">
    <div class="row ">
    <% if @friends%>
       <% for friend in @friends %>
        <div class="col-md-6" style="margin-top:20px;">
          <div class="media">
              <div class="media-left"  >
                <a href="#">
                <img class="media-object"  src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Crystal_Clear_kdm_user_female.svg" alt="Smiley face" height="62" width="62" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= friend.user.name %></h4>
                <%= link_to 'Destroy', groups_user_path(friend,:group => { :group_id => params[:id] }),
                    method: :delete,
                data: { confirm: 'Are you sure?' } %>        
                   
              </div>
          </div>
        </div>
        <% end %>
            <% else %>
              <li class="list-group-item">
                <strong>There isn't Any Friend</strong>
              </li>
            <% end %>
        </div>
  </div>
  </div>
</div></div>