<table>
  <tr>
    <th>Item</th>
    <th>Amount</th>
    <th></th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.owner %></td>
      <td><%= order.restaurant %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
    </tr>
  <% end %>
</table>