// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

<<<<<<< HEAD
.friendsactivitydiv {
  width: 450px;
  height: 500px;
  margin: 30px auto;
  overflow: scroll;
}
.lastorderdiv {
  width: 450px;
  height: 500px;
  margin: 30px auto;
  overflow: scroll;
=======
.lastorderdiv{

    width:450px;
    height: 500px;
    margin: 30px auto;
    overflow: scroll;
>>>>>>> 88c851a41482a8e06de5bdc1b9ff04e31aa94b20
}

.badge{
    margin: 30px auto;
}

.friendsactivitydiv{

<<<<<<< HEAD
  color: gray;
=======
    width: 450px;
    height: 500px;
    margin: 30px auto;
    overflow: scroll;
>>>>>>> 88c851a41482a8e06de5bdc1b9ff04e31aa94b20
}


.dbdata p{

    padding: 5px ;
    font-size: 20pt;
    color: gray;
}


