// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lastorderdiv{

    width:450px;
    height: 500px;
    border: 1px solid gray;
    margin: 100px auto;
    overflow: scroll;
}

.friendsactivitydiv{

    width: 450px;
    height: 500px;
    border: 1px solid gray;
    margin: 100px auto;
    overflow: scroll;
}


.dbdata p{

    padding: 5px ;
    font-size: 20pt;
    
    color: gray;
}


